# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

# Diagnostic reports (https://nodejs.org/api/report.html)
.report.[0-9]*.[0-9]*.[0-9]*.[0-9]*.json

# Runtime data
*.cjs.map
*.mjs.map
*.js.map
*.d.ts.map
.next/
.nuxt/
.vercel/
.env
.env.local
.env.development.local
.env.test.local
.env.production.local
.env.staging.local
.env.production
.env.development
.env.test
.env.staging
.DS_Store
node_modules
/dist
/build
/out
/coverage
/public
/backend/node_modules
/frontend/node_modules
/frontend/.next
/frontend/out
/frontend/build
/frontend/coverage
/frontend/public
/backend/coverage
/backend/dist
/backend/build
/backend/out
/shared/node_modules
/shared/dist
/shared/build
/shared/out
/shared/coverage
/shared/public
